.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  cursor: pointer;
}
.simpson{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.simpsonList{
  display: flex;
  list-style-type: none;
}
.simpsonList li{
  padding: 10px;
}
.simpson-area{
  display: flex;
  justify-content: center;
}
.search{
  position: absolute;
  right: 0;
}
.producst-img{
  display: flex;
  justify-content: flex-end;
}